<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.efounder.JEnterprise.mapper.usercenter.ESUserGroupGnqxManageMapper">

	<resultMap id="userGroupGnqxMap" type="com.efounder.JEnterprise.model.usercenter.ESUserGroupGnqxManage">
		<result column="F_ZBH" property="f_zbh" />
		<result column="F_GNZDID" property="f_gnzdid" />
		<result column="F_SH" property="f_sh" />
		<result column="F_CRDATE" property="f_crdate" />
		<result column="F_CHDATE" property="f_chdate" />
	</resultMap>
	

	<sql id="find_xxx">
	    <![CDATA[
			SELECT F_ZBH , F_GNZDID, F_SH ,date_format(F_CRDATE,'%Y-%m-%d %H:%i:%s' )F_CRDATE ,date_format(F_CHDATE,'%Y-%m-%d %H:%i:%s' )F_CHDATE
	    ]]>
	</sql>

	<sql id="from_xxx">
	    <![CDATA[
	    	FROM ES_GROUP_GNQX
	    ]]>
	</sql>

	<sql id="where_xxx">
	    <![CDATA[
	    	WHERE 1=1
	    ]]>
	</sql>

	<select id="findUserGroupGnqx" parameterType="string" resultMap="userGroupGnqxMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		<![CDATA[
			ORDER BY F_CHDATE
		]]>
	</select>
	
	<select id="findUserGroupGnqxByThreeId" parameterType="string" resultMap="userGroupGnqxMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		<![CDATA[
			WHERE F_ZBH = #{f_zbh} and F_QXBH = #{f_qxbh} and F_SJBH = #{f_sjbh}
		]]>
	</select>
	
	<!-- <include refid="find_xxx" />
		<include refid="from_xxx" />
		<![CDATA[
			WHERE F_ZBH = #{f_zbh} and F_QXBH = #{f_qxbh}
		]]> -->
	<select id="findUserGroupGnqxByYhbhAndQxbh" parameterType="string" resultMap="userGroupGnqxMap">
		<include refid="find_xxx" />
		 FROM  ${classifygnqxTb}
		<![CDATA[
			WHERE F_ZBH = #{f_zbh}
		]]>
	</select>


	<select id="findUserGroupGnqxByKey" parameterType="string" resultMap="userGroupGnqxMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		<where>
		1=1 
			<if test="keywords != null and keywords != ''"> 
			 and CONCAT(`f_zbh`,'##',`f_sjbh` ) LIKE CONCAT('%',#{keywords},'%')
			 </if>
		</where>
	</select>
	
	
	
	
	<!-- <insert id="addUserGroupGnqx" parameterType="com.efounder.JEnterprise.mapper.usercenter.ESUserGroupGnqxManageMapper"> 
        INSERT INTO ES_GROUP_GNQX(
        F_ZBH,F_QXBH,F_SJBH,F_CRDATE, F_CHDATE) values(
        #{f_zbh},#{f_qxbh},#{f_sjbh},NOW(),NOW()) 
    </insert> -->
    
   	<!-- <delete id="delUserGroupGnqx" parameterType="string">
		delete a from ES_GROUP_GNQX a INNER JOIN es_gnzd b on b.F_GNBH = a.F_SJBH WHERE a.F_ZBH=#{f_zbh} and a.F_QXBH=#{f_qxbh} and b.F_MKGUID =#{guid}
	</delete> -->
	<!-- <update id="upUserGroupGnqx" parameterType="com.efounder.JEnterprise.mapper.usercenter.ESUserGroupGnqxManageMapper">
		UPDATE ES_GROUP_GNQX
		<set>
				F_ZBH = #{f_zbh},
				F_QXBH = #{f_qxbh},
				F_SJBH = #{f_sjbh},
			F_CHDATE=NOW() 
		</set>
		WHERE  F_ZBH = #{f_zbh} and F_QXBH= #{f_qxbh} and  F_SJBH = #{f_sjbh}
	</update> -->
	
	<!-- 批量删除 -->
    <delete id="delUserGroupGnqx">
        delete from ${tablename} where   F_ZBH=#{f_zbh} and F_GNZDID in
        <foreach collection="list" item="item" separator="," open="(" close=")">
          #{item.f_gnzdid}
        </foreach>
	</delete>
	
	  <insert id="addUserGroupGnqx"  parameterType="java.util.ArrayList">
		INSERT INTO ${tablename}
		(F_ZBH, F_GNZDID, F_SH, F_CRDATE, F_CHDATE)
		VALUES
		<foreach collection="list" item="item" index="index" separator=","> 
        	(#{item.f_zbh},#{item.f_gnzdid},#{item.f_sh},current_timestamp(), current_timestamp()) 
    	</foreach> 
	</insert>
	
	<update id="upUserGroupGnqx">
			update ${tablename} 
			<set>
			 F_SH= '1'
			</set>
			WHERE F_ZBH = #{f_zbh} and F_GNZDID in 
		 <foreach collection="list" item="item" separator="," open="("  close=")">
			 #{item.f_gnzdid}
		</foreach>
	</update>

</mapper>