<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.efounder.JEnterprise.mapper.strongAndWeakElectricityIntegration.ColdWarmWaterMapper">

	<resultMap id="coldWarmWaterMap" type="com.efounder.JEnterprise.model.strongAndWeakElectricityIntegration.ColdWarmWaterVo">
		<result column="F_NAME" property="f_name" />
		<result column="F_DQZT" property="f_dqzt" />
		<result column="F_DQGL" property="f_dqgl" />
		<result column="F_LJNH" property="f_ljnh" />
		<result column="F_LJYXSJ" property="f_ljyxsj" />
	</resultMap>
	<!-- 根据设备类型编号加载报警等级 -->
	<select id="paging"  resultMap="coldWarmWaterMap">
		SELECT F_NAME,F_DQZT,F_DQGL,F_LJNH,F_LJYXSJ FROM STRONGANDWEAKELECTRICITYINTEGRATION_COLDWARMWATER
		order by f_name
		limit #{page},#{limit}
	</select>
	<!-- 编辑前加载数据 -->
	<select id="pageCount" resultType="java.lang.Integer"> 
	    SELECT COUNT(*) from STRONGANDWEAKELECTRICITYINTEGRATION_COLDWARMWATER
	</select>
</mapper>


