.design_curtain img.gray_img{
    display: none;
}

.electric_curtain_div{

}
.electric_curtain_div{
    position:absolute;
    top:2vh;
    left:2vh;
    /*width: 30vh;*/
    /*height:10vh;*/
    width: 44vh;
    height:10vh;
    border-radius: 1vh;
    opacity: 0.8;
    z-index: 10;
    border: 1px #337ab7 solid;
    background-color: rgb(249, 253, 255);
}
.electric_curtain_div .zoom_slide{
    width:20vh;
    margin: 5vh 3vh 3vh;
    opacity: 1;
}
.electric_curtain_div .layui-slider-tips:after{
    border: 0;
}
.electric_curtain_div .layui-slider-tips{
    top:-26px;
    background: none;
    color:#333;
    display: block!important;
    padding: 0 10px 5px;
    height: 18px;
}

/*滑块样式修改*/
.layui-slider-input{
    right:-115px!important;
}
#electric_curtain_slide .percent{
    position: absolute;
    /*right: -18vh!important;*/
    right: -140px!important;
    top: -1.5vh;
}
#electric_curtain_slide .layui-slider{
    margin-right:0!important;
}
/*.electric_curtain_div{*/
    /*overflow: hidden;*/
/*}*/

#electric_curtain_slide .layui-slider-wrap-btn {
    width: 32px;
    height: 16px;
    border-radius: 5px;
}
