<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.efounder.JEnterprise.mapper.usercenter.UserRoleRlglMapper">

	<resultMap id="userRoleRlglMap" type="com.efounder.JEnterprise.model.usercenter.UserRoleRlgl">
		<result column="F_GUID" property="f_guid" />
		<result column="F_ROLEGUID" property="f_roleguid" />
		<result column="F_YHBH" property="f_yhbh" />
		<result column="F_CRDATE" property="f_crdate" />
		<result column="F_CHDATE" property="f_chdate" />
	</resultMap>

	

	<sql id="find_xxx">
	    <![CDATA[
			SELECT F_GUID ,F_ROLEGUID , F_YHBH  ,date_format(F_CRDATE,'%Y-%m-%d %H:%i:%s' )F_CRDATE ,date_format(F_CHDATE,'%Y-%m-%d %H:%i:%s' )F_CHDATE
	    ]]>
	</sql>

	<sql id="from_xxx">
	    <![CDATA[
	    	FROM ES_USER_ROLE_RLGL
	    ]]>
	</sql>

	<sql id="where_xxx">
	    <![CDATA[
	    	WHERE 1=1
	    ]]>
	</sql>
	<select id="loadAll" parameterType="string" resultMap="userRoleRlglMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
	</select>
	<select id="findById" parameterType="string" resultMap="userRoleRlglMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		<![CDATA[
			WHERE F_ROLEGUID=#{f_roleguid}
		]]>
	</select>

	<select id="findUserRoleRlglByPage" parameterType="string" resultMap="userRoleRlglMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		<where>
		1=1 
			<if test="keywords != null and keywords != ''"> 
			 and CONCAT(`keywords`) LIKE CONCAT('%',#{keywords},'%')
			 </if>
		</where>
	</select>

<!-- 根据编号查找所有用户 -->
	<select id="findChildByRolebh" parameterType="string" resultMap="userRoleRlglMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		<where>
			F_ROLEGUID = #{f_roleguid} 
		</where>
		order by F_ROLEGUID
	</select>


	<update id="update" parameterType="com.efounder.JEnterprise.model.usercenter.UserRoleRlgl">
		UPDATE ES_USER_ROLE_RLGL
		<set>
			<!--修改时间  -->
			F_CHDATE = current_timestamp()
		</set>
		WHERE F_ROLEGUID=#{f_roleguid}
	</update>
	
	<insert id="insert" parameterType="com.efounder.JEnterprise.model.usercenter.UserRoleRlgl">
		INSERT INTO ES_USER_ROLE_RLGL(F_GUID,F_ROLEGUID ,F_YHBH,F_CRDATE, F_CHDATE)
		 VALUES(#{f_guid} ,#{f_roleguid} , #{f_yhbh} , current_timestamp(),current_timestamp())
	</insert>

	
	<delete id="delete" parameterType="string">
		DELETE FROM ES_USER_ROLE_RLGL WHERE F_ROLEGUID=#{f_roleguid}
	</delete>
<!-- 删除本用户组下所有用户 -->
	<delete id="leftMoveByRolebh" parameterType="string">
		DELETE FROM ES_USER_ROLE_RLGL WHERE F_ROLEGUID = #{f_roleguid}
	</delete>
<!-- 移除用户组包含用户 -->
	<delete id="deleteByYhbh" parameterType="string">
		DELETE FROM ES_USER_ROLE_RLGL WHERE F_YHBH = #{f_yhbh}
	</delete>

</mapper>