<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.efounder.JEnterprise.mapper.systemparameters.ESGlobalVarMapper" >

  <resultMap id="esglobalvarMap" type="com.efounder.JEnterprise.model.systemparameters.ESGlobalVar" >
    <id column="F_VAR_BM" property="fVarBm" /><!--column数据库表中一般是大写，对应的property是小写  -->
    <result column="F_VAR_MC" property="fVarMc" />
    <result column="F_VAR_VALUE" property="fVarValue" />
    <result column="F_REMARK" property="fRemark" />
    <result column="F_CRDATE" property="fCrdate" />
    <result column="F_CHDATE" property="fChdate" />
  </resultMap>
  
  	<select id="getGlobalVarByKey" parameterType="string" resultMap="esglobalvarMap">
		<![CDATA[
			SELECT * FROM ES_GLOBAL_VAR 
	    ]]>
		<where>
			<![CDATA[
					F_VAR_BM = #{key}
			]]>
		</where>
	</select>
  </mapper> 